In [8]:
#import dependencies
import pandas as pd
import gmaps
import requests
import ipywidgets as widgets

#Import API key
from config import g_key

In [9]:
#Store the saved CSV created in part one into a data frame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-06-06 05:59:15,22.0752,-159.3190,77.11,76,12,3.00
1,1,Kayes,ML,2021-06-06 05:59:16,14.0000,-11.0000,86.22,46,20,12.50
2,2,Bredasdorp,ZA,2021-06-06 05:59:16,-34.5322,20.0403,43.92,70,4,6.24
3,3,Trelew,AR,2021-06-06 05:57:23,-43.2490,-65.3051,41.25,62,1,8.50
4,4,Ushuaia,AR,2021-06-06 05:56:11,-54.8000,-68.3000,29.86,93,0,8.05

In [10]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [14]:
# Create a Maximum Temperature Heatmap

In [12]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
#Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

In [20]:
#Filter the data set to find the cities that fit the crieteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-06-06 05:59:15,22.0752,-159.3190,77.11,76,12,3.00
1,1,Kayes,ML,2021-06-06 05:59:16,14.0000,-11.0000,86.22,46,20,12.50
9,9,Boa Vista,BR,2021-06-06 05:54:33,2.8197,-60.6733,78.78,83,90,4.61
12,12,Baisha,CN,2021-06-06 05:59:18,26.5222,110.9311,90.00,39,67,3.40
13,13,Sola,VU,2021-06-06 05:59:18,-13.8833,167.5500,79.36,74,93,12.73
15,15,Loa Janan,ID,2021-06-06 05:59:19,-0.5830,117.0950,87.87,66,56,4.25
17,17,Biak,ID,2021-06-06 05:59:20,-0.9131,122.8766,82.35,72,45,8.72
22,22,Henties Bay,NaN,2021-06-06 05:59:21,-22.1160,14.2845,75.85,30,1,28.54
23,23,Bathsheba,BB,2021-06-06 05:59:21,13.2167,-59.5167,81.21,65,20,16.46
26,26,Lazaro Cardenas,MX,2021-06-06 05:59:22,17.9583,-102.2000,80.76,78,72,2.06

In [21]:

preferred_cities_df.count()

City_ID       167
City          167
Country       166
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [22]:
#Create a data frame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Kapaa      US     77.11  22.0752 -159.3190
1             Kayes      ML     86.22  14.0000  -11.0000
9         Boa Vista      BR     78.78   2.8197  -60.6733
12           Baisha      CN     90.00  26.5222  110.9311
13             Sola      VU     79.36 -13.8833  167.5500
15        Loa Janan      ID     87.87  -0.5830  117.0950
17             Biak      ID     82.35  -0.9131  122.8766
22      Henties Bay     NaN     75.85 -22.1160   14.2845
23        Bathsheba      BB     81.21  13.2167  -59.5167
26  Lazaro Cardenas      MX     80.76  17.9583 -102.2000

In [23]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,77.11,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,Kayes,ML,86.22,14.0000,-11.0000,
9,Boa Vista,BR,78.78,2.8197,-60.6733,Aipana Plaza Hotel
12,Baisha,CN,90.00,26.5222,110.9311,
13,Sola,VU,79.36,-13.8833,167.5500,Leumerus Bungalows
15,Loa Janan,ID,87.87,-0.5830,117.0950,Pondok hijau 2A
17,Biak,ID,82.35,-0.9131,122.8766,Penginapan Kim
22,Henties Bay,NaN,75.85,-22.1160,14.2845,Fishermans Guest House
23,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
26,Lazaro Cardenas,MX,80.76,17.9583,-102.2000,quinta antigua

In [25]:
#Add a heatmap of temperature for vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the data frame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

 ### Code Breakdown ###
 #Set hotel_info equal to the info_box_content
 #In the list comprehension, each "row" of hotel_df is iteratted and then formatted into the template
 #Only rows defined in the info_box_template are used, which are hotel name, city, country, max temp

In [27]:
#Add a heatmap of temperature for vacation spots and a pop-up marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))