## Deliverable 2. Create a Customer Travel Destinations Map.

In [121]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

from config import g_key

In [122]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rock Sound,BS,24.9000,-76.2000,78.78,83,62,19.46,broken clouds
1,1,Saint-Philippe,RE,-21.3585,55.7679,80.15,78,57,7.09,light rain
2,2,Ostrovnoy,RU,68.0531,39.5131,43.90,63,45,13.44,scattered clouds
3,3,Takaka,NZ,-40.8500,172.8000,57.56,96,100,5.44,overcast clouds
4,4,Bayan,CN,46.0833,127.4000,69.55,51,32,5.53,scattered clouds

In [123]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

In [104]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rock Sound,BS,24.9000,-76.2000,78.78,83,62,19.46,broken clouds
1,1,Saint-Philippe,RE,-21.3585,55.7679,80.15,78,57,7.09,light rain
6,6,Butaritari,KI,3.0707,172.7902,82.60,72,4,2.91,clear sky
8,8,Rikitea,PF,-23.1203,-134.9692,75.90,84,100,17.78,light rain
9,9,Atuona,PF,-9.8000,-139.0333,79.20,70,10,14.34,clear sky
...,...,...,...,...,...,...,...,...,...,...
720,720,Gornyy,RU,55.1153,83.9059,72.79,69,100,13.94,light rain
730,730,Troitsko-Pechorsk,RU,62.7084,56.1964,70.65,38,43,8.55,scattered clouds
732,732,San Policarpo,PH,12.1791,125.5072,84.00,76,100,1.99,overcast clouds
734,734,Henties Bay,NaN,-22.1160,14.2845,75.22,27,2,28.52,clear sky
735,735,La Reforma,MX,25.0833,-108.0500,77.25,65,0,4.05,clear sky

In [105]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [106]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rock Sound,BS,24.9000,-76.2000,78.78,83,62,19.46,broken clouds
1,1,Saint-Philippe,RE,-21.3585,55.7679,80.15,78,57,7.09,light rain
6,6,Butaritari,KI,3.0707,172.7902,82.60,72,4,2.91,clear sky
8,8,Rikitea,PF,-23.1203,-134.9692,75.90,84,100,17.78,light rain
9,9,Atuona,PF,-9.8000,-139.0333,79.20,70,10,14.34,clear sky
...,...,...,...,...,...,...,...,...,...,...
719,719,Matara,LK,5.9485,80.5353,86.61,65,99,13.51,overcast clouds
720,720,Gornyy,RU,55.1153,83.9059,72.79,69,100,13.94,light rain
730,730,Troitsko-Pechorsk,RU,62.7084,56.1964,70.65,38,43,8.55,scattered clouds
732,732,San Policarpo,PH,12.1791,125.5072,84.00,76,100,1.99,overcast clouds
735,735,La Reforma,MX,25.0833,-108.0500,77.25,65,0,4.05,clear sky

In [107]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rock Sound,BS,78.78,broken clouds,24.9000,-76.2000,
1,Saint-Philippe,RE,80.15,light rain,-21.3585,55.7679,
6,Butaritari,KI,82.60,clear sky,3.0707,172.7902,
8,Rikitea,PF,75.90,light rain,-23.1203,-134.9692,
9,Atuona,PF,79.20,clear sky,-9.8000,-139.0333,
...,...,...,...,...,...,...,...
719,Matara,LK,86.61,overcast clouds,5.9485,80.5353,
720,Gornyy,RU,72.79,light rain,55.1153,83.9059,
730,Troitsko-Pechorsk,RU,70.65,scattered clouds,62.7084,56.1964,
732,San Policarpo,PH,84.00,overcast clouds,12.1791,125.5072,
735,La Reforma,MX,77.25,clear sky,25.0833,-108.0500,

In [108]:

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [110]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rock Sound,BS,78.78,broken clouds,24.9000,-76.2000,Rock Sound Club
1,Saint-Philippe,RE,80.15,light rain,-21.3585,55.7679,"Chambres d'hÃ´te ""La TrinitÃ©"""
6,Butaritari,KI,82.60,clear sky,3.0707,172.7902,Isles Sunset Lodge
8,Rikitea,PF,75.90,light rain,-23.1203,-134.9692,Pension Maro'i
9,Atuona,PF,79.20,clear sky,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
719,Matara,LK,86.61,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
720,Gornyy,RU,72.79,light rain,55.1153,83.9059,Gostinyy Dvor
730,Troitsko-Pechorsk,RU,70.65,scattered clouds,62.7084,56.1964,Pechora Gostinitsa
732,San Policarpo,PH,84.00,overcast clouds,12.1791,125.5072,JM Lodge
735,La Reforma,MX,77.25,clear sky,25.0833,-108.0500,Hotel Reforma

In [111]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [125]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [124]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))